.banner {
  font-family: "Roboto", sans-serif;
  background-image: url(../imge/background\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 1030px;
  margin: 46px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  align-items: center;
  color: #ffffff;
  display: flex;
  position: relative;
}
.container-link:hover .logo-hader {
  color: #f26522;
}
.container-link:hover .text-header {
  color: #f26522;
}
.logo-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  position: relative;
}
.container-link:hover .logo {
  opacity: 0;
}
.logo {
  width: 53px;
  height: 47px;
}
.container-link:hover .logo-hide {
  opacity: 1;
}
.logo-hide {
  width: 53px;
  height: 47px;
  position: absolute;
  left: 0;
  opacity: 0;
}
.logo-hader {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 2px 0 2px 8px;
}
.text-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 2px 0 0 8px;
}
.contact-list {
  list-style: none;
  padding: 0;
  text-align: end;
  margin: 0;
}
.contact-link {
  padding-left: 0;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
.contact-link:hover {
  color: #f26522;
}
.contact-item {
  padding: 9px 0;
}
.portfolio-link {
  text-decoration: none;
}
.portfolio-list {
  list-style: none;
  padding-left: 0;
  display: grid;
  box-sizing: border-box;
  grid-template-rows: 228px 228px;
  grid-template-columns: repeat(3, 308px);
  column-gap: 53px;
  row-gap: 70px;
  margin: 0cm;
}
.portfolio-item {
  width: 308px;
  height: 228px;
  position: relative;
  border: 4px solid transparent;
}
.portfolio-titel {
  width: 300px;
  height: 220px;
  position: relative;
  overflow: hidden;
}
.portfolio-item:hover {
  border: 4px solid transparent;
  border-image: linear-gradient(to left, #fff 0%, #000 60%);
  border-image-slice: 1;
}
.portfolio-item:hover .portfolio-text {
  color: #f26522;
}
.portfolio-item:hover .detail {
  opacity: 1;
  transform: translatey(-55px);
}

.portfolio-photo {
  position: relative;
  width: 300px;
  height: 220px;
  object-fit: cover;
}
.portfolio-text {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin-top: 20px;
  color: #ffffff;

  position: absolute;

  top: 220px;
  right: 100px;
}
.detail {
  width: 300px;
  height: 55px;
  position: absolute;
  background-color: #f26522;
  bottom: -55px;
  left: 0;
  transition: 1s;
}
.detail-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-flow: column wrap;
  height: 55px;
  width: auto;
}
.detail-item {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}
.detail-button {
  background-color: #f26522;
  border: none;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-top: 29px;
  text-align: left;
  padding: 0;
  width: calc(87px + 37px);
}
.detail-button::after {
  content: url(../imge/vector.svg);
  position: absolute;
  right: 16px;
  border: 0;
}
.text-from {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  margin: 8px 0 0 16px;
  width: 50px;
}
.text-price {
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  width: 50px;
  margin: 8px 0 0 16px;
}
.footer-text {
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  margin-top: 69px;
}
